# Unity (sample project)
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
*.csproj
*.sln
*.suo
*.user
*.pidb
*.booproj
*.unityproj
*.apk
*.aab
*.unitypackage
sysinfo.txt
crashlytics-build.properties

# CI outputs
test-results/
coverage-results/
unity.log

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vs/
.vscode/
